In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy import stats
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from patsy import dmatrices
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import PolynomialFeatures
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import ComplementNB 
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB

In [3]:
clean=pd.read_csv('cleaned.csv')
clean.head()

,Unnamed: 0,cancel,year,zip.code,house.color,ni.age,len.at.res,credit,coverage.type,dwelling.type,premium,sales.channel,ni.gender,ni.marital.status,n.adults,n.children,tenure,claim.ind,state
0,0,0,2013,98004.0,blue,37.0,18.000000,high,C,Tenant,950.507336,Broker,F,0.0,2.0,0.0,15.0,0.0,WA
1,1,0,2013,85017.0,white,40.0,17.000000,medium,A,Condo,909.346046,Broker,F,1.0,5.0,0.0,15.0,0.0,AZ
2,2,0,2013,80021.0,white,45.0,14.000000,high,A,House,897.084502,Phone,M,0.0,1.0,0.0,14.0,0.0,CO
3,3,0,2013,85002.0,red,45.0,24.366136,high,A,House,979.039007,Phone,M,0.0,5.0,0.0,22.0,1.0,AZ
4,4,0,2013,50001.0,yellow,36.0,16.000000,high,C,House,932.379027,Broker,M,1.0,2.0,4.0,4.0,0.0,IA

In [0]:
clean.columns = ['index', 'cancel','year', 'zip','color','age','len','credit','coverage','dwelling','premium','channel','gender','marital','adults','children','tenure','claim','state']

In [5]:
clean_color = pd.get_dummies(clean['color'])
clean_credit = pd.get_dummies(clean['credit'])
clean_coverage = pd.get_dummies(clean['coverage'])
clean_dwelling = pd.get_dummies(clean['dwelling'])
clean_channel = pd.get_dummies(clean['channel'])
clean_gender = pd.get_dummies(clean['gender'])
clean_state = pd.get_dummies(clean['state'])
clean = clean.join(clean_color)
clean = clean.join(clean_credit)
clean = clean.join(clean_coverage)
clean = clean.join(clean_dwelling)
clean = clean.join(clean_channel)
clean = clean.join(clean_gender)
clean = clean.join(clean_state)
clean.head()

,index,cancel,year,zip,color,age,len,credit,coverage,dwelling,...,Online,Phone,F,M,AZ,CO,IA,PA,VA,WA
0,0,0,2013,98004.0,blue,37.0,18.000000,high,C,Tenant,...,0,0,1,0,0,0,0,0,0,1
1,1,0,2013,85017.0,white,40.0,17.000000,medium,A,Condo,...,0,0,1,0,1,0,0,0,0,0
2,2,0,2013,80021.0,white,45.0,14.000000,high,A,House,...,0,1,0,1,0,1,0,0,0,0
3,3,0,2013,85002.0,red,45.0,24.366136,high,A,House,...,0,1,0,1,1,0,0,0,0,0
4,4,0,2013,50001.0,yellow,36.0,16.000000,high,C,House,...,0,0,0,1,0,0,1,0,0,0

In [0]:
clean2013=clean.loc[clean['year'] == 2013]
clean2014=clean.loc[clean['year'] == 2014]
clean2015=clean.loc[clean['year'] == 2015]
clean2016=clean.loc[clean['year'] == 2016]

In [0]:
clean_naive = clean[['age' , 'len' , 'premium' , 'marital' , 'adults' , 'children' , 'tenure' , 'claim' , 'blue' , 'red' , 'white', 'yellow' , 'low' , 'high' , 'medium', 'A' , 'B' , 'C' , 'Condo' , 'House' , 'Tenant' , 'Broker' , 'Online' , 'Phone' , 'F' ,'M' , 'AZ' , 'CO' , 'IA' , 'PA' , 'VA' , 'WA']]
clean_pred = clean[['cancel']]

In [0]:
gnb = GaussianNB()
cnb = ComplementNB()
mnb = MultinomialNB()
bnb = BernoulliNB()

In [9]:
y_pred = gnb.fit(clean_naive, clean_pred).predict(clean_naive)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
y_true_inter = clean_pred
y_scores_inter = y_pred
roc_auc_score(y_true_inter, y_scores_inter)

0.6289200712207468

In [14]:
y_pred = cnb.fit(clean_naive, clean_pred).predict(clean_naive)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
y_true_inter = clean_pred
y_scores_inter = y_pred
roc_auc_score(y_true_inter, y_scores_inter)

0.6319850832840581

In [16]:
y_pred = mnb.fit(clean_naive, clean_pred).predict(clean_naive)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
y_true_inter = clean_pred
y_scores_inter = y_pred
roc_auc_score(y_true_inter, y_scores_inter)

0.587170840864282

In [18]:
y_pred = bnb.fit(clean_naive, clean_pred).predict(clean_naive)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
y_true_inter = clean_pred
y_scores_inter = y_pred
roc_auc_score(y_true_inter, y_scores_inter)

0.5984079468802795

### Partial Fit

In [0]:
clean_naive_cont = clean[['age' , 'len' , 'premium' , 'marital' , 'adults' , 'children' , 'tenure']]
clean_naive_cat = clean[['claim' , 'blue' , 'red' , 'white', 'yellow' , 'low' , 'high' , 'medium', 'A' , 'B' , 'C' , 'Condo' , 'House' , 'Tenant' , 'Broker' , 'Online' , 'Phone' , 'F' ,'M' , 'AZ' , 'CO' , 'IA' , 'PA' , 'VA' , 'WA']]

In [27]:
y_pred_cat = bnb.fit(clean_naive_cat, clean_pred).predict(clean_naive_cat)
y_pred_cont = cnb.fit(clean_naive_cont, clean_pred).predict(clean_naive_cont)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
y_true_inter = clean_pred
y_scores_inter = y_pred_cont
roc_auc_score(y_true_inter, y_scores_inter)

0.5519075028379707

In [25]:
y_true_inter = clean_pred
y_scores_inter = y_pred_cat
roc_auc_score(y_true_inter, y_scores_inter)

0.5975788022487206